<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated entitydifferentiation -->
      <package
            uri="http://www.modelum.es/entitydifferentiation"
            class="es.um.nosql.s13e.entitydifferentiation.EntitydifferentiationPackage"
            genModel="model/entitydifferentiation.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated decisiontree -->
      <package
            uri="urn:es.um.nosql.s13e.decisiontree"
            class="es.um.nosql.s13e.decisiontree.DecisiontreePackage"
            genModel="model/decisiontree.genmodel"/>
   </extension>

</plugin>
