<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated NoSQLDataDifferences -->
      <package
            uri="http://www.modelum.es/version_diff"
            class="Version_Diff.Version_DiffPackage"
            genModel="metamodel/NoSQLDataDifferences.genmodel"/>
   </extension>

</plugin>
