<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.um.es/unosql/xtext/orion/Orion"
			class = "es.um.unosql.xtext.orion.orion.OrionPackage"
			genModel = "model/generated/Orion.genmodel" />
	</extension>
</plugin>
