<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dsl4mongoose -->
      <package
            uri="http://www.modelum.es/dsl4mongoose"
            class="es.um.nosql.schemainference.dsl4mongoose.Dsl4mongoosePackage"
            genModel="model/dsl4mongoose.genmodel"/>
   </extension>

</plugin>
